<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <add key="WebDAL" value="TJ.DAL"/>
    <add key="OrdersDAL" value="TJ.DAL"/>
    <add key="china" value="2"/>
    <add key="CompanyType" value="45"/>
    <add key="ProductType" value="51"/>
    <add key="AccountType" value="58"/>
    <add key="CompStatues" value="66"/>
    <add key="CommonConsumerID" value="0"/>
    <add key="itgitfirstqurey" value="1"/>
    <add key="itgitnomalqurey" value="2"/>
    <add key="itgitadduser" value="3"/>
    <add key="InfoType" value="70"/>
    <add key="TouSu" value="407"/>
    <add key="JianYi" value="408"/>
    <add key="SystemTypeID" value="76"/>
    <add key="MobileFunctionModleParentID" value="38"/>
    <add key="AdFileTypeID" value="82"/>
    <add key="MobileMoudlePID" value="38"/>
    <add key="CompnyDiscount" value="93"/>
    <add key="CompTypeTianJianZongBuID" value="46"/>
    <add key="CompTypeTianJianZongBuIDid" value="10"/>
    <add key="CompTypeIDChangJia" value="47"/>
    <add key="CompTypeIDJingXiaoShang" value="48"/>
    <add key="ForbidMenuIDToJingXiaoShang" value=",70,72,75,71,82,83,84,"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="joinenlarge" value="3"/>
    <add key="YuanLiangLeiBie" value="371"/>
    <add key="YuanLiangDanWei" value="448"/>
    <add key="DaQuLeiBie" value="452"/>
    <add key="SYCangKuLeiBie" value="456"/>
    <add key="SYCKYL" value="460"/>
    <add key="SYCKYQ" value="457"/>
    <add key="SYCKCQ" value="458"/>
    <add key="SYCKJJ" value="459"/>
    <add key="SYCKZH" value="461"/>
    <add key="JGCompID" value="99"/>
    <add key="ActivityTypeID" value="481"/>
    <add key="touyunurl" value="https://top-api.sao.so/"/>
    <!--<add key="touyunurl" value="https://api-test.sao.so/"/>-->
    <add key="touyunjgname" value="userportal@sao.so"/>
    <add key="touyunjgpassword" value="Flzxsqc1234!"/>
    <add key="tyjgtokencode" value="tyjg"/>
    <add key="TouYunTokenExpiresin" value="604800"/>
    <add key="huizongtypeid" value="485"/>
    <add key="luodiyetypeid" value="78"/>
    <add key="showmode" value="0"/>
    <add key="CompTypeIDZhongDuanDian" value="486"/>
    <add key="SMSAlert" value="493"/>
    <add key="DeliverymiddleRid" value="159"/>
    <add key="DeliveryterminalRid" value="160"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  <add key="xifeng_erp_service.CrmToTianJian" value="http://40.125.172.241:81/CrmToTianJian.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SqlServerConnString" connectionString="server=DELLYIN\SQL2008;user id=sa;password=sa2008;database=TJMarketingSystemYin;" providerName="System.Data.SqlClient"/>-->
    <add name="SqlServerConnStringSM" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=CustomerAllInfo;" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnString" connectionString="server=125.76.228.137,33419;user id=jsb;password=jsb2019;database=TJMarketingSystemYin;" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStringCOS" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=TJ_ConnectOuterSystem;" providerName="System.Data.SqlClient" />
    <add name="PGConnStringCRM" connectionString="Server=116.62.122.204;Port=25227;User Id=tjali;Password=china315net#compg2017;Database=tianjianjishi" providerName="System.Data.SqlClient" />
    <add name="PGConnStringWuLiu" connectionString="Server=116.62.122.204;Port=25227;User Id=tjali;Password=china315net#compg2017;Database=wuliu" providerName="System.Data.SqlClient" />
    <add name="PGConnStringGis" connectionString="Server=117.34.70.23;Port=5432;User Id=acc;Password=123;Database=gis" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStringWuLiu" connectionString="server=125.76.228.137,33419;user id=sa;password=tianjian2016;database=TianJianWuLiuWebNew;" providerName="System.Data.SqlClient" />
    <add name="GuanDongBaoBeiEr" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=GuanDongBaoBeiEr;" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStringCYJY" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=ChangYuJiuYe;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringAccounts" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=beauty;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJGXQ" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=TJHuoHong;" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStringWuLiuShowMode" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=TianJianWuLiuWebNew;" providerName="System.Data.SqlClient"/>
    <add name="SqlServerConnStringShowMode" connectionString="server=117.34.70.23,33419;user id=sa;password=tianjian2016;database=TJMarketingSystemYin;" providerName="System.Data.SqlClient"/>
    <add name="SqlServerConnStringYanLei" connectionString="server=116.62.122.204,33417;user id=ali01;password=china315netcom2017));database=YanLeiManageSystem;" providerName="System.Data.SqlClient"/>
    <add name="pgswmfeedbacktest" connectionString="Host=117.34.70.23;Port=5432;Username=acc;Password=123;Database=test;"/>
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
  
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       
    <customErrors mode="On" defaultRedirect="~/indexerror.html"> 
      <error statusCode="403" redirect="~/indexerror.html" /> 
      <error statusCode="404" redirect="~/indexerror.html" />
    </customErrors>  -->
    <httpRuntime maxRequestLength="100000" requestPathInvalidCharacters=""/>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <identity impersonate="false"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>　
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryMethodWebServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="QueryMethodWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.china315net.com/webservice/QueryMethodWebService.asmx" binding="basicHttpBinding" bindingConfiguration="QueryMethodWebServiceSoap" contract="QueryInfoService.QueryMethodWebServiceSoap" name="QueryMethodWebServiceSoap"/>
      <endpoint address="http://www.china315net.com/webservice/QueryMethodWebService.asmx" binding="customBinding" bindingConfiguration="QueryMethodWebServiceSoap12" contract="QueryInfoService.QueryMethodWebServiceSoap" name="QueryMethodWebServiceSoap12"/>
    </client>
  </system.serviceModel>
</configuration>